* {
  margin: 0;
  font: 14px 'Fira Sans', sans-serif;
}

body {
  background-color: #f7edde;
  max-width: 1140px;
  padding: 0px 12px;
  margin: auto;
  height: auto;
}

nav {
  z-index: 10;
  position: relative;
}

.pos {
  position: relative;
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 80px;
}

.header a {
  padding: 8px;
  text-decoration: none;
  font-size: 1.25em;
  color: black;
}

.logo a {
  font-size: 2em;
  line-height: 25px;
  padding: 12px 0;
  font-weight: bold;
}

.nav {
  display: none;
}

ul {
  padding: 0;
  list-style-type: none;
}

.nav-item a {
  color: #222222;
  text-decoration: none;
}

a.active {
  color: rgb(0, 0, 0);
}

/* HAMBURGER */

.hamburger {
  text-align: center;
  display: flex;
  justify-content: flex-end;
}

.hamburger-icon {
  z-index: 6;
  padding: 12px 5px;
}

.hamburger-icon span {
  height: 3px;
  width: 40px;
  background-color: black;
  display: block;
  margin: 5px 0px 5px 0px;
  transition: 0.75s ease-in-out;
  transform: none;
}

span:nth-of-type(2) {
  width: 25px;
  float: right;
}

.none span:nth-of-type(1) {
  transform: translate(0%, 425%) rotate(-45deg);
  background-color: black;
}

.none span:nth-of-type(2) {
  transform: rotate(45deg);
  width: 40px;
  background-color: black;
}

/* END OF HAMBURGER */

/* MENUBAR */

.menubar {
  background-color: #f7edde;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 150%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 12px;
  z-index: 10;
}

.menu-links,
li,
a {
  color: #d9d3d3;
  transition: 0.5s ease-in-out;
  font-size: 18px;
  margin: 12px 0;
  padding-right: 12px;
}

/* END OF MENUBAR */

main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 1em auto 2em;
}

.hero {
  display: flex;
  flex: 1;
  flex-direction: column;
}

svg {
  fill: black;
  height: 32px;
  width: 32px;
  text-align: center;
}

svg:not(:last-child) {
  margin-right: 8px;
}

.main {
  font-size: 54px;
  text-transform: capitalize;
  font-weight: bold;
  line-height: 64px;
}

.hero-text {
  margin-top: 36px;
}

.desc {
  font-size: 18px;
  color: rgba(22, 22, 22, 0.8);
  line-height: 28px;
  margin: 30px 0;
}

.buttons {
  display: flex;
  flex: 0.3;
  flex-direction: column;
  justify-content: center;
}

button {
  letter-spacing: 3px;
  color: #4737ff;
  background-color: white;
  outline: none !important;
  border: none;
  font-size: 14px;
  height: 50px;
  width: 200px;
  text-transform: uppercase;
  font-weight: bold;
  border: 3px solid #4737ff;
}

.first {
  background-color: #4737ff;
  color: white;
  border: none;
  margin-top: 24px;
}

.first:hover {
  color: #4737ff;
  background-color: white;
  border: 3px solid #4737ff;
}

.hero-image {
  display: flex;
  margin-bottom: 30px;
  position: relative;
}

.image {
  width: 100%;
  height: auto;
}

.play-button {
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 15px solid white;
  margin-top: 20px;
  margin-left: 27.5px;
}

.play {
  position: absolute;
  bottom: 3px;
  width: 65px;
  height: 65px;
  background-color: #4737ff;
  text-align: center;
}

.hero {
  order: 1;
}

@media screen and (min-width: 769px) {
  nav {
    margin-top: 36px;
  }

  .nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-right: 64px;
  }

  main {
    flex-direction: row;
    margin: 112px auto 0;
  }

  .hero {
    flex: 0.6;
    order: 0;
  }

  .header {
    margin-right: 36px;
  }

  .hero-text {
    margin-top: 96px;
  }

  .desc {
    width: 70%;
  }

  .hero-image {
    margin-top: -230px;
    display: flex;
    margin-bottom: 0;
    flex: 0.4;
    z-index: 3;
    position: relative;
  }

  .image {
    width: 110%;
    height: 100vh;
  }

  .play {
    bottom: 150px;
    left: -45px;
  }
}
