* {
  margin: 0;
  font: 14px 'Fira Sans', sans-serif;
}

body {
  background-color: #4737ff;
  color: white;
  max-width: 1140px;
  padding: 0px 16px;
  margin: auto;
  height: auto;
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 80px;
}

.header a {
  color: white;
  padding: 12px;
  text-decoration: none;
  font-size: 1.25em;
}

.logo a {
  font-size: 2em;
  line-height: 25px;
  padding: 12px 0;
}

.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.nav-item {
  padding: 20;
  color: red;
}

ul {
  list-style-type: none;
}

.active a {
  color: red;
}

.hero {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 7em;
  align-items: center;
  width: 100%;
}

.left {
  display: flex;
  flex: 1;
  flex-direction: column;
  margin-right: 80px;
}

.right {
  display: flex;
  flex: 1;
  position: relative;
}

.label {
  font-size: 16px;
  letter-spacing: 4px;
  text-transform: uppercase;
  margin-bottom: 30px;
}

.main {
  font-size: 60px;
  line-height: 70px;
  letter-spacing: -1px;
}

.desc {
  margin: 2.5em 0;
  font-size: 20px;
  line-height: 28px;
}

button {
  letter-spacing: 3px;
  color: #4737ff;
  background-color: white;
  outline: none !important;
  border: none;
  margin-right: 2em;
  font-size: 14px;
  height: 50px;
  width: 160px;
  text-transform: uppercase;
  font-weight: bold;
}

.buttons {
  display: flex;
  margin: 32px 0;
}

a:hover {
  color: #4737ff;
  background-color: white;
}

.first:hover {
  background-color: #4737ff;
  color: white;
  border: 3px solid white;
}

.second {
  background-color: #4737ff;
  color: white;
  border: 3px solid white;
}

.second:hover {
  color: #4737ff;
  background-color: white;
}

p {
  font-size: 18px;
  line-height: 28px;
}

.play-button {
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 15px solid black;
  margin-top: 20px;
  margin-left: 27.5px;
}

.play {
  position: absolute;
  top: 0;
  left: 0;
  width: 65px;
  height: 65px;
  background-color: white;
  text-align: center;
}

@media screen and (max-width: 800px) {
  .hero {
    flex-direction: column-reverse;
  }

  .left {
    margin: 24px 0px;
    width: 100%;
  }

  .image {
    width: 100%;
  }

  .hero {
    margin-top: 4em;
  }
}

@media screen and (max-width: 411px) {
  .image {
    width: 100%;
  }

  .nav {
    display: none;
  }
}

@media screen and (max-width: 1024px) {
  .image {
    width: 100%;
  }

  .desc {
    margin: 1em 0;
    font-size: 18px;
    line-height: 26px;
  }

  .main {
    font-size: 40px;
    line-height: 60px;
    letter-spacing: -1px;
  }

  .label {
    font-size: 14px;
    letter-spacing: 4px;
    text-transform: uppercase;
    margin-bottom: 1em;
  }

  .buttons {
    display: flex;
    margin: 1.25em 0;
  }

  button {
    font-size: 12px;
    height: 50px;
    width: 140px;
  }
}
