header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 80px;
}

.logo {
  font-size: 3rem;
  line-height: 25px;
  padding: 12px 0;
  color: black;
  font-weight: bold;
  text-decoration: none;
}

.hamburger {
  display: inline;
}

.svg {
  fill: black;
  height: 32px;
  width: 32px;
  margin-right: 1em;
}

.main {
  max-width: 900px;
  margin: 5rem auto;
}

.hero {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.text {
  display: flex;
  flex: 0.6;
  flex-direction: column;
}

.text h2 {
  font-size: 4rem;
  color: #f96241;
  text-transform: capitalize;
  font-weight: bold;
  line-height: 4.375rem;
}

.desc {
  font-size: 1.875rem;
  color: rgba(22, 22, 22, 0.8);
  line-height: 28px;
  margin-top: 30px;
}

.buttons {
  display: flex;
  flex: 0.3;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}

.external {
  font-size: 2rem;
  line-height: 2.375rem;
  text-align: center;
  margin: 12px auto;
  color: rgba(0, 0, 0, 0.5);
  font-weight: lighter;
  text-decoration: underline;
}

.preview {
  margin-top: 80px;
}

.image {
  width: 100%;
}

@media screen and (max-width: 500px) {
  .main {
    margin: 2rem auto 0;
    padding: 0;
  }

  .hero {
    flex-direction: column;
  }

  .desc {
    margin-top: 30px;
  }

  .buttons {
    margin: 24px 0 0;
    align-items: center;
  }

  .preview {
    margin-top: 30px;
  }
}

@media screen and (max-width: 768px) {
  .hero {
    flex-direction: column;
    justify-content: space-between;
  }

  .buttons {
    margin: 24px 0 0;
    align-items: center;
  }

  .preview {
    margin-top: 48px;
  }
}
