* {
  margin: 0;
  font: 14px 'Fira Sans', sans-serif;
}

body {
  background-color: #4737ff;
  color: white;
  max-width: 1140px;
  padding: 0px 12px;
  margin: auto;
  height: auto;
}

/* NAVBAR */
nav {
  z-index: 10;
}

.pos {
  position: relative;
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 80px;
}

.logo {
  display: flex;
}

.logo a {
  font-size: 2em;
  line-height: 25px;
  color: white;
  font-weight: bold;
  text-decoration: none;
}

.left-nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

ul {
  padding: 0;
  list-style-type: none;
}

.nav {
  display: none;
}

.nav-item a {
  color: #ffffffd1;
  text-decoration: none;
}

a.active {
  color: #ffffff;
}

/* HAMBURGER */

.hamburger {
  text-align: center;
  display: flex;
  justify-content: flex-end;
}

.hamburger-icon {
  z-index: 6;
  padding: 12px 5px;
}

.hamburger-icon span {
  height: 3px;
  width: 40px;
  background-color: white;
  display: block;
  margin: 5px 0px 5px 0px;
  transition: 0.75s ease-in-out;
  transform: none;
}

span:nth-of-type(2) {
  width: 25px;
  float: right;
}

.none span:nth-of-type(1) {
  transform: translate(0%, 425%) rotate(-45deg);
  background-color: white;
}

.none span:nth-of-type(2) {
  transform: rotate(45deg);
  width: 40px;
  background-color: white;
}

/* END OF HAMBURGER */

/* MENUBAR */

.menubar {
  background-color: #4737ff;
  position: absolute;
  width: 100%;
  height: 120px;
  top: 150%;
  left: 50%;
  transform: translate(-50%, -30%);
  padding: 12px;
  z-index: 10;
}

li,
a {
  color: #4737ff;
  transition: 0.5s ease-in-out;
  font-size: 18px;
  margin: 12px 0;
  padding-right: 12px;
}

/* END OF MENUBAR */

/* END OF THE NAVBAR */

/* HERO */

.hero {
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-between;
  margin: 2em auto;
}

.left {
  display: flex;
  flex-direction: column;
  margin-top: 36px;
}

.right {
  display: flex;
  position: relative;
}

.label {
  font-size: 16px;
  letter-spacing: 4px;
  text-transform: uppercase;
  margin-bottom: 30px;
}

.main {
  font-size: 54px;
  text-transform: capitalize;
  line-height: 64px;
}

.desc {
  font-size: 18px;
  line-height: 28px;
  margin: 30px 0;
}

button {
  letter-spacing: 3px;
  color: #4737ff;
  background-color: white;
  outline: none !important;
  border: none;
  margin-right: 2em;
  font-size: 14px;
  height: 50px;
  width: 160px;
  text-transform: uppercase;
  font-weight: bold;
}

.buttons {
  display: flex;
  margin: 32px 0;
}

.first:hover {
  background-color: #4737ff;
  color: white;
  border: 3px solid white;
}

.second {
  background-color: #4737ff;
  color: white;
  border: 3px solid white;
}

.second:hover {
  color: #4737ff;
  background-color: white;
}

p {
  font-size: 18px;
  line-height: 28px;
}

figure {
  width: 100%;
}

.image {
  width: 100%;
  height: auto;
}

.play-button {
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 15px solid black;
  margin-top: 20px;
  margin-left: 27.5px;
}

.play {
  position: absolute;
  top: 0;
  left: 0;
  width: 65px;
  height: 65px;
  background-color: white;
  text-align: center;
}

svg {
  fill: white;
  height: 32px;
  width: 32px;
  margin-right: 1em;
}

footer {
  margin: 2em 0;
}

@media screen and (min-width: 769px) {
  nav {
    margin-top: 36px;
  }

  .nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .hamburger {
    display: none;
  }

  .left {
    flex: 0.4;
  }

  .right {
    flex: 0.5;
  }

  .hero {
    flex-direction: row;
    margin-top: 80px;
  }

  .desc {
    font-size: 18px;
    line-height: 26px;
  }

  .main {
    font-size: 60px;
    line-height: 70px;
    letter-spacing: -1px;
  }

  .label {
    font-size: 14px;
    letter-spacing: 4px;
    text-transform: uppercase;
    margin-bottom: 1em;
  }

  .buttons {
    display: flex;
    margin: 1.25em 0;
  }

  .image {
    width: 100%;
    height: auto;
  }
}
