* {
  margin: 0;
  font: 14px 'Fira Sans', sans-serif;
}

body {
  background-color: #f7edde;
  max-width: 1140px;
  padding: 0px 12px;
  margin: auto;
  height: auto;
}

.pos {
  position: relative;
}

nav {
  z-index: 10;
  position: relative;
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 80px;
}

.header a {
  padding: 8px;
  text-decoration: none;
  font-size: 1.25em;
  color: black;
}

.logo a {
  font-size: 2em;
  line-height: 25px;
  padding: 12px 0;
  font-weight: bold;
}

.nav {
  display: none;
}

ul {
  list-style-type: none;
}

.nav-item a {
  color: #222222;
}

a.active {
  color: rgb(0, 0, 0);
}

svg {
  fill: black;
  height: 32px;
  width: 32px;
  text-align: center;
}

main {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 2em auto;
}

.hero {
  display: flex;
  flex: 1;
  flex-direction: column;
}

.main {
  font-size: 54px;
  text-transform: capitalize;
  font-weight: bold;
  line-height: 64px;
}

.hero-text {
  margin-top: 64px;
}

.desc {
  font-size: 18px;
  color: rgba(22, 22, 22, 0.8);
  line-height: 28px;
  margin: 30px 0;
}

.buttons {
  display: flex;
  flex: 0.3;
  flex-direction: column;
  justify-content: center;
}

button {
  letter-spacing: 3px;
  color: #4737ff;
  background-color: white;
  outline: none !important;
  border: none;
  font-size: 14px;
  height: 50px;
  width: 200px;
  text-transform: uppercase;
  font-weight: bold;
  border: 3px solid #4737ff;
}

.first {
  background-color: #4737ff;
  color: white;
  border: none;
  margin-top: 24px;
}

.first:hover {
  color: #4737ff;
  background-color: white;
  border: 3px solid #4737ff;
}

.hero-image {
  display: none;
}

.image {
  width: 100%;
  height: 100%;
}

.hamburger {
  position: relative;
  text-align: center;
}

input.hamburger-checkbox {
  width: 50px;
  height: 50px;
  opacity: 0;
}

.hamburger-icon {
  position: absolute;
  z-index: 6;
  top: 0;
  left: 0;
  padding: 12px 5px;
}

.hamburger-icon span {
  height: 3px;
  width: 40px;
  background-color: black;
  display: block;
  margin: 5px 0px 5px 0px;
  transition: 0.75s ease-in-out;
  transform: none;
}

span:nth-of-type(2) {
  width: 25px;
  float: right;
}

#openmenu:checked ~ .hamburger-icon span:nth-of-type(1) {
  transform: translate(0%, 425%) rotate(-45deg);
  background-color: black;
}

#openmenu:checked ~ .hamburger-icon span:nth-of-type(2) {
  transform: rotate(45deg);
  width: 40px;
  background-color: black;
}

#openmenu:checked ~ div.sidebar {
  padding: 0;
  transform: translateX(-12px);
}

.sidebar {
  background-color: #fff;
  position: absolute;
  transform: translateX(-120vw);
  width: 100%;
  height: 100%;
  top: 0;
  transform-origin: (0, 0);
  padding: 16px;
  transition: 0.6s ease-in-out;
  z-index: 10;
}

.menu-links > li,
a {
  color: white;
  transition: 0.5s ease-in-out;
  font-size: 20px;
  margin: 12px 0;
}

ul {
  padding: 0;
}

.play-button {
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 15px solid white;
  margin-top: 20px;
  margin-left: 27.5px;
}

.play {
  position: absolute;
  bottom: 150px;
  left: -35px;
  width: 65px;
  height: 65px;
  background-color: #4737ff;
  text-align: center;
}

@media screen and (min-width: 769px) {
  nav {
    margin-top: 36px;
  }

  .nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-right: 64px;
  }

  .hero {
    flex: 0.6;
  }

  .header {
    margin-right: 36px;
  }

  main {
    margin: 112px auto 0;
  }

  .hero-text {
    margin-top: 96px;
  }

  .hero-image {
    margin-top: -230px;
    display: flex;
    flex: 0.4;
    z-index: 3;
    position: relative;
  }

  .desc {
    width: 70%;
  }
}
