.button_first {
  letter-spacing: 3px;
  background-color: #4737ff;
  color: white;
  outline: none !important;
  font-size: 1.5rem;
  height: 50px;
  text-transform: uppercase;
  font-weight: bold;
  border: 3px solid #4737ff;
  margin-bottom: 2rem;
}

.button_second {
  letter-spacing: 3px;
  color: #4737ff;
  background-color: white;
  outline: none !important;
  font-size: 1.5rem;
  height: 50px;
  text-transform: uppercase;
  font-weight: bold;
  border: 3px solid #4737ff;
}

.button_first:hover {
  color: #4737ff;
  background-color: white;
}

.button_second:hover {
  background-color: #4737ff;
  color: white;
}
