.wrapper {
  max-width: 1140px;
  margin: auto;
}

.container {
  min-height: 100vh;
  width: 100%;
  /* background-color: #4737ff; */
  padding: 0px 12px;
  /* background-image: var(--bg); */
  background-repeat: no-repeat;
  }
  @media screen and (min-width: 769px) {
  .container {
    padding-top: 36px;
  }
}