.body {
  background-color: #d9d3d3;
  background-repeat: no-repeat;
  background-position-x: 45%;
  background-size: contain;
  color: black;
}

/* NAVBAR */

.pos {
  position: relative;
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 80px;
}

.logo {
  display: flex;
  flex: 0.6;
}

.logo a {
  font-size: 3rem;
  line-height: 25px;
  font-weight: bold;
  text-decoration: none;
  color: black;
}

.left_nav {
  display: flex;
  flex: 0.4;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.nav {
  display: none;
}

.nav_item a {
  color: #222222;
  text-decoration: none;
}

.nav > .nav_item {
  margin-right: 5rem;
}

.link_active {
  color: rgb(0, 0, 0) !important;
}

/* HAMBURGER */

.hamburger {
  text-align: center;
  display: flex;
  justify-content: flex-end;
}

.hamburger_icon {
  z-index: 6;
  padding: 12px 5px;
}

.hamburger_icon span {
  height: 3px;
  width: 40px;
  background-color: black;
  display: block;
  margin: 5px 0px 5px 0px;
  transition: 0.75s ease-in-out;
  transform: none;
}

span:nth-of-type(2) {
  width: 25px;
  float: right;
}

.none span:nth-of-type(1) {
  transform: translate(0%, 425%) rotate(-45deg);
  background-color: black;
}

.none span:nth-of-type(2) {
  transform: rotate(45deg);
  width: 40px;
  background-color: black;
}

/* END OF HAMBURGER */

/* MENUBAR */

.menubar {
  background-color: #d9d3d3;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 150%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 12px;
  z-index: 10;
}

.nav_item a {
  color: rgba(82, 82, 82, 0.54);
  transition: 0.5s ease-in-out;
  font-size: 1.875rem;
  padding-right: 12px;
  line-height: 2.5rem;
}

/* END OF MENUBAR */

/* END OF THE NAVBAR */

/* HERO */

.main {
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-between;
  margin: 2rem auto;
}

.hero {
  display: flex;
  flex-direction: column-reverse;
}

.label {
  font-size: 1.5rem;
  letter-spacing: 4px;
  text-transform: uppercase;
  margin-bottom: 30px;
  letter-spacing: -1px;
}

.main_text {
  font-size: 6rem;
  text-transform: capitalize;
  font-weight: bold;
  line-height: 6.25rem;
}

.hero_text {
  margin-top: 36px;
}

.desc {
  font-size: 2rem;
  color: rgba(22, 22, 22, 0.8);
  line-height: 2.5rem;
  margin: 30px 0;
}

.buttons {
  display: flex;
  flex: 0.3;
  flex-direction: row;
  align-items: center;
  margin-top: 30px;
}

.svg {
  fill: black;
  height: 24px;
  width: 24px;
  text-align: center;
  margin: -2rem 1rem 0;
}

.hero_image {
  display: flex;
  position: relative;
  overflow-x: hidden;
}

.figure {
  width: 100%;
  height: 80vh;
}

.image {
  width: 100%;
  height: 100%;
  position: absolute;
  background-size: cover;
  background-position: center;
  will-change: transform, opacity;
}

.next {
  display: none;
}

.numbers {
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 20px;
  font-size: 18px;
  cursor: pointer;
}

.index {
  display: flex;
  align-items: center;
  margin: 24px 0;
  order: 0;
}

div.active {
  color: white;
  background-color: #f96241;
}

.numbers:hover {
  color: white;
  background-color: #f96241;
}

@media screen and (min-width: 769px) {
  .body {
    background-image: url('./Double.svg');
  }

  .nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-right: 64px;
  }

  .main {
    flex-direction: row;
    margin: 80px auto 0;
  }

  .hero {
    display: flex;
    flex: 0.6;
    flex-direction: column;
    justify-content: space-between;
  }

  .desc {
    width: 70%;
  }



  .label {
    letter-spacing: 4px;
    text-transform: uppercase;
    margin-bottom: 1em;
  }

  .hero_image {
    margin-top: -50px;
    display: flex;
    margin-bottom: 0;
    flex: 0.4;
    overflow-x: unset;
  }

  .buttons {
    margin-top: 64px;
  }

  .image:hover {
    box-shadow: 0px 0px 20px 0px #a7a7a7;
  }

  .next {
    display: flex;
    position: absolute;
    top: 100px;
    right: -125px;
    width: 225px;
    height: 300px;
    box-shadow: -3px -1px 15px 3px rgba(98, 98, 98, 1);
  }

  .preview {
    display: none;
  }

  .next_image {
    width: 225px;
    object-fit: cover;
    height: auto;
  }
}
